{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="icon" href="{% static 'images/favicon.ico' %}" id="favicon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/background.css' %}">
    <link rel="stylesheet" href="{% static 'css/answer_list.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <style>
        .menu {
            color: black;
        }
        .table {
            border-color: black;
        }
        th {
            font-size: 115%
        }
        header {
            padding: 0.5rem;
        }
    </style>

</head>

<body>

<header class="header">
    <div class="nav">
        <input id="drawer_input" class="drawer_hidden" type="checkbox">
        <label for="drawer_input" class="drawer_open"><span></span></label>
        <nav class="nav_content">
            <a class="menu">menu</a><hr>
              <ul class="nav_list">
                  {% if user.is_authenticated %}
                  <!-- ログイン中のメニュー -->
                <li class="nav_item"><a href="{% url 'answer_category' %}">お題を見る</a></li><hr>
                <li class="nav_item"><a href="{% url 'category' %}">お題を投稿</a></li><hr>
                <li class="nav_item"><a href="{% url 'logout' %}">ログアウト</a> </li><hr>

                  {% else %}
                  <li class="nav_item"><a href="{% url 'answer_category' %}">お題を見る</a></li><hr>
                  <li class="nav_item"><a href="{% url 'category' %}">お題を投稿</a></li><hr>
                  <li class="nav_item"><a href="{% url 'login' %}">ログイン・新規登録</a> </li><hr>
                  {% endif %}
              </ul>
        </nav>
      </div>

    <a href="#" onclick="history.back(-1);return false"><img src="{% static 'images/return.png' %}" class="return"></a>
</header>
<div class="welcome">
    <h1>お題一覧</h1>
    <p>気になるお題に対して回答をしてみよう!!</p>
</div>
{% if orderby_records %}
    <table class="table">
        <thead>
        <tr>
            <th>投稿者</th>
            <th>投稿日</th>
            <th>お題</th>
        </tr>
        </thead>
        <tbody>
        {% for post in orderby_records %}
            <tr>
                <th>{{ post.post_by_user }}</th>
                <th>{{ post.posted_at }}</th>
                <th><a href="{% url 'tested' post.id %}">{{ post.theme_title }}</a>
            </tr>

        {% endfor %}
        </tbody>
    </table>


{% else %}
    <p>お題はまだ投稿されていません。</p>
{% endif %}

{% block content %}
{% include "ningins/pagination.html" %}
{% endblock %}

</body>
</html>