{% load static %}
{% load ninjin %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="icon" href="{% static 'images/favicon_ver2.ico' %}" id="favicon">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="{% static 'css/background.css' %}">
    <link rel="stylesheet" href="{% static 'css/answer_list.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>
    <style>
        card {
            border-color: #fdfd01;
        }
    </style>
</head>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.js"></script>


<body>

<header class="header">
    <div class="nav">
        <input id="drawer_input" class="drawer_hidden" type="checkbox">
        <label for="drawer_input" class="drawer_open"><span></span></label>
        <nav class="nav_content">
            <a class="menu">menu</a><hr>
              <ul class="nav_list">
                  {% if user.is_authenticated %}
                  <!-- ログイン中のメニュー -->
                <li class="nav_item"><a href="{% url 'answer_category' %}">お題を見る</a></li><hr>
                <li class="nav_item"><a href="{% url 'category' %}">お題を投稿</a></li><hr>
                <li class="nav_item"><a href="{% url 'logout' %}">ログアウト</a> </li><hr>

                  {% else %}
                  <li class="nav_item"><a href="{% url 'answer_category' %}">お題を見る</a></li><hr>
                  <li class="nav_item"><a href="{% url 'category' %}">お題を投稿</a></li><hr>
                  <li class="nav_item"><a href="{% url 'login' %}">ログイン・新規登録</a> </li><hr>
                  {% endif %}
              </ul>
        </nav>
      </div>
    <a href="#" onclick="history.back(-1);return false"><img src="{% static 'images/return.png' %}" class="return"></a>
</header>
<section class="mt-5">
    <div class="card">
        <div class="card-header">
            {% if is_user_liked_for_post %}
                <button type="button" id="ajax-like-for-post" style="border:none;background:none">
                    <i class="fas fa-heart text-danger" id="like-for-post-icon"></i>
                </button>
            {% else %}
                <button type="button" id="ajax-like-for-post" style="border:none;background:none">
                    <i class="far fa-heart text-danger" id="like-for-post-icon"></i>
                </button>
            {% endif %}
            <span id="like-for-post-count">{{ like_for_post_count }}</span>
            <span>件のイイね</span>
        </div>

        <div class="card-body">
            <h1>画像で一言</h1>
            <div class="card-title">
                <img src="{{ post.image.url }}" height="300" width="300" alt="#"/>
            </div>
            <div class="card-text">
                <span class="fs-6">{{ post.posted_at | date:'Y-m-d' }}</span>
                <p class="fs-6">{{ post.post_by_user }}</p>
                <div class="mt-5">
                    <a href="{% url 'answer_detail' post.id %}"><h3>回答を投稿する</h3></a>
                </div>
            </div>
        </div>
    </div>

    {% for comment in post.answer_set.all.order_by %}
        <div class="card mt-4">
            <div class="card-body">
                <div class="card-title">
                    <img src="{{ post.image.url }}" alt="image">
                </div>
                <div class="card-text">
                    <div class="mt-4 mb-4">
                        {{ comment.text }}
                    </div>
                    <div class="card-footer">
                        {% with comment_like_data|get_item:comment.pk as dic %}
                            {% if dic.is_user_liked_for_comment %}
                                <button type="button" class="ajax-like-for-comment" data-pk="{{ comment.pk }}"
                                        style="border:none;background:none">
                                    <i class="fas fa-heart text-danger" id="like-for-comment-icon-{{ comment.pk }}"></i>
                                </button>
                            {% else %}
                                <button type="button" class="ajax-like-for-comment" data-pk="{{ comment.pk }}"
                                        style="border:none;background:none">
                                    <i class="far fa-heart text-danger" id="like-for-comment-icon-{{ comment.pk }}"></i>
                                </button>
                            {% endif %}
                            <span id="like-for-comment-count-{{ comment.pk }}">{{ dic.count }}</span>
                            <span>件のイイね</span>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</section>



{% block extrajs %}
    <script>
        /* ポストに対するイイね */
        document.getElementById('ajax-like-for-post').addEventListener('click', e => {
            /* ログインしていない場合はログインページへ */
            if ("{{ user.is_authenticated }}" === "False") {
                window.location.href = ''
            }
            e.preventDefault();
            const url = '{% url "like_for_post" %}';
            fetch(url, {
                method: 'POST',
                body: `post_pk={{post.pk}}`,
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=utf-8',
                    'X-CSRFToken': '{{ csrf_token }}',
                },
            }).then(response => {
                return response.json();
            }).then(response => {
                const counter = document.getElementById('like-for-post-count')
                const icon = document.getElementById('like-for-post-icon')
                counter.textContent = response.like_for_post_count
                if (response.method === 'create') {
                    icon.classList.remove('far')
                    icon.classList.add('fas')
                    icon.id = 'like-for-post-icon'
                } else {
                    icon.classList.remove('fas')
                    icon.classList.add('far')
                    icon.id = 'like-for-post-icon'
                }
            }).catch(error => {
                console.log(error);
            });
        });
        /* コメントに対するイイね */
        const likeCommentButtons = document.getElementsByClassName('ajax-like-for-comment');
        for (const button of likeCommentButtons) {
            button.addEventListener('click', e => {
                /* ログインしていない場合はログインページへ */
                if ("{{ user.is_authenticated }}" === "False") {
                    window.location.href = ''
                }
                const pk = button.dataset.pk
                e.preventDefault();
                const url = '{% url "like_for_comment" %}';
                fetch(url, {
                    method: 'POST',
                    body: `comment_pk=${pk}`,
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=utf-8',
                        'X-CSRFToken': '{{ csrf_token }}',
                    },
                }).then(response => {
                    return response.json();
                }).then(response => {
                    const counter = document.getElementById(`like-for-comment-count-${pk}`)
                    const icon = document.getElementById(`like-for-comment-icon-${pk}`)
                    counter.textContent = response.like_for_comment_count
                    if (response.method === 'create') {
                        icon.classList.remove('far')
                        icon.classList.add('fas')
                        icon.id = `like-for-comment-icon-${pk}`
                    } else {
                        icon.classList.remove('fas')
                        icon.classList.add('far')
                        icon.id = `like-for-comment-icon-${pk}`
                    }
                }).catch(error => {
                    console.log(error);
                });
            });
        }
    </script>
{% endblock %}

</body>
</html>