{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="icon" href="{% static 'images/favicon.ico' %}" id="favicon">
    <link rel="stylesheet" href="{% static 'css/background.css' %}">

    <style>
        h1 {
            text-align:center;
        }
    </style>
</head>

<body>

<h1>回答を投稿しました！</h1>

<a href="{% url 'top' %}">
                <div style="text-align: center">
  <img src='{% static 'images/home.png' %}' alt="image">
</div>
            </a>

</body>
</html>