{% load ninjin %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>
</head>
<body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.js"></script>

<section class="mt-5">
    <div class="card">
        <div class="card-header">
            ここに投稿に対するいいね機能を入れる
        </div>
        <div class="card-body">
            <div class="card-title">
                <h2>#{{ post.id }} {{ post.theme_title }}</h2>
            </div>
            <div class="card-text">
                <span class="fs-6">{{ post.posted_at | date:'Y-m-d' }}</span>
                <p class="fs-6">{{ post.post_by_user }}</p>
                <div class="mt-5">
                    {{ post.post_category }}
                </div>
            </div>
        </div>
    </div>

    {% for comment in post.answer_set.all %}
        <div class="card mt-4">
            <div class="card-body">
                <div class="card-title">
                    <p class="fs-6">{{ comment.text }}</p>
                </div>
                <div class="card-footer">
                    <!-- templatetagのメソッドで、中の辞書をdicという変数に変換 -->
                    {% with answer_like_data|get_item:comment.pk as dic %}
                        {% if dic.is_user_liked_for_comment %}
                            <button type="button" name="ajax-like-for-comment" data-pk="{{ comment.pk }}"
                                    style="border:none;background:none">
                                <i class="fas fa-heart text-danger" id="like-for-comment-icon-{{ comment.pk }}"></i>
                            </button>
                        {% else %}
                            <button type="button" name="ajax-like-for-comment" data-pk="{{ comment.pk }}"
                                    style="border:none;background:none">
                                <i class="far fa-heart text-danger" id="like-for-comment-icon-{{ comment.pk }}"></i>
                            </button>
                        {% endif %}
                        <!-- イイねの数 -->
                        <span id="like-for-comment-count-{{ comment.pk }}">{{ dic.count }}</span>
                        <span>件のイイね</span>
                        <button type="button" name="ajax-like-for-comment" data-pk="{{ comment.pk }}" style="border:none;background:none">
    <i class="fas fa-heart text-danger" id="like-for-comment-icon-{{comment.pk}}"></i>
</button>
                    {% endwith %}
                </div>
            </div>
        </div>
    {% endfor %}
</section>


</body>
</html>