{% load static %}
{% load django_bootstrap5 %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/background.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <style>
        .target {
            pointer-events: none;
        }
    </style>
</head>
<body>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="welcome">
        <h1>お題を投稿しよう！</h1>
        <p>面白いお題おまちしてます！</p>
    </div>
    <div class="form-group">
            <h2>お題のカテゴリ</h2>
            <div style="pointer-events: none;">
            {{ form.post_category|add_class:'form-control' }}
            </div>
            <h2>お題を入力してください</h2>
            {{ form.theme_title|add_class:'form-control' }}　
            <b><p>なりきり大喜利のお題投稿例</p></b>
            <p>・木村拓哉になりきって女の子を口説いてください</p>
            <p>・IKKO-になりきってマグロの握りの食レポをしてください？</p>
    </div>
</form>
</body>
</html>