{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>大喜利にんじん</title>
    <link rel="icon" href="{% static 'images/favicon_ver2.ico' %}" id="favicon">
    <link rel="stylesheet" href="{% static 'css/title.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/background.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/koukoku.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
<style>
    .nav_item {
        font-size: 300%;
    }
</style>
</head>
<body>
<header class="header">
    <div class="nav">
        <input id="drawer_input" class="drawer_hidden" type="checkbox">
        <label for="drawer_input" class="drawer_open"><span></span></label>
        <nav class="nav_content">
            <a class="menu">menu</a>
            <hr>
            <ul class="nav_list">
                {% if user.is_authenticated %}
                    <!-- ログイン中のメニュー -->
                    <li class="nav_item"><a href="{% url 'top' %}">ホーム</a></li>
                    <hr>
                    <li class="nav_item"><a href="{% url 'logout' %}">ログアウト</a></li>
                    <hr>

                {% else %}
                    <li class="nav_item"><a href="{% url 'top' %}">ホーム</a></li>
                    <hr>

                    <li class="nav_item"><a href="{% url 'login' %}">ログイン・新規登録</a></li>
                    <hr>
                {% endif %}
            </ul>
        </nav>
    </div>
    {% if user.is_authenticated %}
    {% else %}
        <div class="login_content">
            <a href="{% url 'login' %}">
                <img src="{% static 'images/login_btn.png' %}" class="login"></a>
        </div>
    {% endif %}
</header>

<img src="{% static 'images/title.png' %}" class="title">
<ul class="btn">
    <li class="btn_item">
        <a href="{% url 'category' %}">
            <img src="{% static 'images/odaiwotoukou_btn.png' %}" class="title_btn">
        </a>
    </li>
    <li class="btn_item">
        <a href="{% url 'answer_category' %}">
            <img src="{% static 'images/odaiwomiru_btn.png' %}" class="title_btn">
        </a>
    </li>
</ul>
<input type="checkbox" id="slide">

<div class="float-banner">
    <!---- ここにバナー ---->
    <div>
        <a href="https://asa0325.ddo.jp/">
            <img src="{% static 'images/koukoku.png' %}" width="500px" height="60">
        </a>
    </div>
    <!---- ここまでバナー ---->
    <label for="slide" class="slide-btn"></label>
</div>

</body>
</html>
